.cont{
  &-nav{
     p, i {
        margin: 0 3px;
     }
  }
  &-user{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 40px;
     @media (min-width: 920px) {
        margin-bottom: 0px;
     }
  }}

.btn-user{
  color: black;
  display: flex;
  text-decoration: none;
  margin: 7px 15px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  font-weight: bold;
  color: #2c3e50;
}

.btn-user:hover{
   text-decoration: underline;
}

.sign-in-button{
   background-color: white;
   border: none;
   font-weight: bold;
   padding-right: 40px;
   font-size: 15px;
   color: #2c3e50;
}

.sign-in-button:hover{
   text-decoration: underline;
}

.icon-sign-in{
   color: black;
   font-size: 1rem;
}